In [ ]:
# 명령어 파일
%run "D:\\lang\\python\\hello.py"
!python "D:/lang/python/hello.py"

In [1]:
#문자열 합치기
'3'+'5'

'35'

In [3]:
#날짜와 시간
import datetime as dt
indep_date = dt.datetime(1945,8,15)
print(indep_date.strftime("%A"))

Wednesday

In [3]:
#파이썬 리스트 정의
x1=['kim', 'lee', 'park']
x2=[170, 160, 180]
x3=[60, 55, 75]

# 딕셔너리 생성
data = {"name": x1, "height": x2, "weight": x3 }

# 출력
print(data)

{'name': ['kim', 'lee', 'park'], 'height': [170, 160, 180], 'weight': [60, 55, 75]}

In [9]:
#리스트의 연산
x=[1,2,3,4]
x1=x+[5]
x2=[num*2 for num in x]
print("x1=",x1)
print("x2=",x2)

x1= [1, 2, 3, 4, 5]
x2= [2, 4, 6, 8]

In [11]:
#벡터의 연산
import numpy as np
x=[1,2,3,4]
x1=np.append(np.array(x),5)
x2=np.array(x)*2
print("x1=",x1)
print("x2=",x2)

x1= [1 2 3 4 5]
x2= [2 4 6 8]

In [4]:
#항목 추가
import numpy as np
xm = np.arange(1, 13).reshape(2, 6)
print(np.insert(xm, 2, [10, 20], axis=1))

[[ 1  2 10  3  4  5  6]
 [ 7  8 20  9 10 11 12]]

In [22]:
#파이썬 딕셔너리
x1=['kim', 'lee', 'park']
x2=[170, 160, 180]
x3=[60, 55, 75]
data = {"name": x1, "height": x2, "weight": x3 }

#데이터 프레임
import pandas as pd
df = pd.DataFrame(data=data)
print(df.iloc[0,[1,2]])
import numpy as np
print(np.array(df.iloc[0,[1,2]]))

height    170
weight     60
Name: 0, dtype: object
[np.int64(170) np.int64(60)]

In [23]:
#반복문
# for
for n in range(1, 6):          
    print(n)

# while
n = 1
while n <= 5:
    print(n)
    n = n+1

1
2
3
4
5
1
2
3
4
5

In [25]:
# while - continue
n = 1
while n <= 5:
    if n == 4:
        n = n+1
        continue
    print(n)
    n = n+1

1
2
3
5

In [26]:
# while - break
n = 1
while n <= 5:
    if n == 4:        
        n = n+1
        break
    print(n)
    n = n+1

1
2
3

In [27]:
# 조건문 & 함수 작성
def mysign(x):
    if x > 0:
        print(f"{x} : 양수")
    elif x < 0:
        print(f"{x} : 음수")
    else:
        print("0입니다")
        
mysign(1)
mysign(-3)
mysign(0)

1 : 양수
-3 : 음수
0입니다

In [39]:
# 조건문 & 함수 작성
def mywage(h):    
    r1= 10000    
    r2 = r1 * 1.5    
    if h <= 40:        
        wage = h * r1    
    else:       
        wage = 40 * r1 + (h - 40) * r2
    return wage



print(mywage(35),"원")
print(mywage(45),"원")

350000 원
475000.0 원

In [45]:
# 파이썬 클래스
class Example:
    def __init__(self, name):
        self.a = f"Hello {name}!"
        self.b = f"Good-bye {name}!"

aaa = Example("David")
print(aaa.a)
print(aaa.b)

Hello David!
Good-bye David!

In [64]:
#텍스트 파일의 입력과 출력
import pandas as pd
iris = pd.read_csv("C:\\Users\\USER\\Documents\\iris.txt",sep=" ", header=0)   
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [65]:
iris.to_csv("C:\\Users\\USER\\Documents\\iris2.txt", sep=" ", index=False)

In [66]:
#csv 파일의 입력과 출력
import pandas as pd
iris = pd.read_csv("C:\\Users\\USER\\Documents\\iris.txt",sep=" ", header=0) 

iris.to_csv("C:\\Users\\USER\\Documents\\iris.csv", index=False, quoting=3, encoding="UTF-8")

iris_csv = pd.read_csv("C:\\Users\\USER\\Documents\\iris.csv", sep=",", header=0)
iris_csv.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [70]:
#문자열 
addr = [
    "충남 연기군 조치원읍 신흥리 123",
    "충남 연기군 조치원읍 교리 9-1",
    "충남 당진시 수청동 1002"
]

addr2 = [str.replace("충남 연기군", "세종시") for str in addr]
print(addr2)

['세종시 조치원읍 신흥리 123', '세종시 조치원읍 교리 9-1', '충남 당진시 수청동 1002']